# Секреты
.env

# Папка с данными (База данных, Сертификаты, Логи)
data/

# Временные файлы Python и кэш
__pycache__/
*.pyc
.pytest_cache/

# Фронтенд билд и зависимости
node_modules/
dist/
app/static/*

# Системные файлы
.DS_Store
