# Секреты
.env

# Папка с данными (База данных, Сертификаты, Логи)
data/

# Временные файлы Python и кэш
__pycache__/
*.pyc
.pytest_cache/

# Фронтенд билд и зависимости
node_modules/
dist/
app/static/*

# Системные файлы
.DS_Store

# Python
__pycache__/
*.py[cod]
.env
venv/

# Node/React
node_modules/
dist/
build/

# Anaconduit Specific
/opt/anaconduit/data/run/*.sock
/opt/anaconduit/data/xray/*.json
!/opt/anaconduit/data/xray/config.json.template
*.log